<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<h3>Comments (<%= @article.comments.count %>)</h3>

<%= render :partial => 'comment', :collection => @article.comments %>

<%= render :partial => 'comment_form' %>

<%= link_to "<< Back to Articles List", articles_path %>

<%= link_to "edit", edit_article_path(@article) %>

<%= link_to "delete", article_path(@article), :method => :delete, :confirm => "Really delete the article?" %>
